/*************** Fonts ***************/
/*
  Source Sans Pro (Light 300; Regular 400; Semi-Bold 600; Bold 700)
  Raleway (Regular 400; Black 900)
  Montserrat (Regular 400)
  Lato (Regular 400)
*/


/************* Variables *************/
:root {
  --color-white: #EEEEEE;
  --color-palewhite: rgb(220, 220, 230);
  --color-darkblue: rgb(1, 28, 57);
  --color-blue: rgb(10, 150, 225);
}


/********** Defaults & Reset **********/

* {  /* Global Reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {  /* Set default font & smooth scrolling */
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

body {  /* Set default background color */
  background: var(--color-white);
}

li {  /* Dsiable list style */
  list-style: none;
}

a {  /* Disable link decoration */
  text-decoration: none;
}



/********** Navigation Menu **********/

nav {  /* Menu Bar BG (Container) */
  position: sticky;
  z-index: 100;  /* keep above everything */
  top: 0;
  width: 100%;
  height: 10vh;

  background: linear-gradient(#292929, #262626);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
}
.nav {  /* Menu Bar */
  height: 100%;
  max-width: 98%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}


/*** Logo ***/
nav .logo {  /* container */
  display: flex;
  align-items: center;
}
nav .logo img {  /* "J" logo */
  height: 50px;
  margin: 0 10px 0 0;
  filter: invert(95%);  /* turn black image to white */
}
nav .logo span {  /* vertical separator */
  padding: 0 8px;
  border-left: 2px solid var(--color-white);
  height: 44px;
}
nav .logo p {  /* name text */
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-white);
}


/*** Navigation ***/
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {  /* each nav item */
  padding: 0 20px;
}
nav ul li a {  /* each nav item link */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;

  color: var(--color-white);
  transition: color 0.3s ease;
}
nav ul li a:hover {  /* on-hover */
  color: var(--color-blue);
}

/*** 'Contact' Button (Separate) ***/
nav a.button {  /* button styles */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;

  color: var(--color-white);
  background: rgb(10, 110, 225);
  border-radius: 15px;
  padding: 5px 12px;

  transition: background 0.3s ease;
}
nav a.button:hover {  /* on-hover */
  background: rgb(10, 90, 210);
}



/*********** Header Banner ***********/

header {  /* container */
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  background: linear-gradient(rgba(0, 0, 0, 0.75),
                              rgba(20, 20, 20, 0.6)),
              url('../images/header-bg.jpg')
              no-repeat fixed center top transparent;
}
header h1 {  /* title (at the top) */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--color-palewhite);
  margin: 6vh 0 0 0;
}
header p {  /* subtitle (at the bottom) */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--color-palewhite);
}
header img {  /* circular image (in the middle) */
  margin: 3vh 0 4vh 0;
  height: 35vh;
  border: 1px solid var(--color-darkblue);
  border-radius: 200px;
}

header a {  /* arrow (bottom) */
  margin: 6vh 0 0 0;
  color: var(--color-palewhite);

  transition: all 0.5s;
}
header a:hover {  /* arrow on-hover */
  color: white;
}
header a .fa-angle-down {  /* arrow size */
  font-size: 8vh;
}



/******* [Main] Resume Section *******/

main #resume {  /* container */
  height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(rgba(0, 0, 0, 0.75),
                              rgba(20, 20, 20, 0.4)),
              url('../images/resume.jpg')
              no-repeat fixed center center transparent;

  /* Define the top margin (to account for sticky nav) */
  scroll-margin-top: 10vh;
}
main #resume h1 {  /* section title */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 7vh;
  text-transform: uppercase;
  color: var(--color-palewhite);

  margin: 0 0 4vh 0;

  transition: font-size 0.3s ease-in-out;
}
main #resume a {  /* link to resume */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 4vh;
  color: var(--color-palewhite);
  border: 2px solid var(--color-palewhite);

  padding: 1vh 3vh;

  transition: all 0.4s ease-in-out;
}
main #resume a:hover {  /* link on-hover */
  background: var(--color-palewhite);
  color: rgb(1, 30, 90);
}



/****** [Main] Portfolio Section ******/

main #portfolio {  /* container */
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 6vh 0;

  /* Define the top margin (to account for sticky nav) */
  scroll-margin-top: 10vh;
}
main #portfolio h1 {  /* section title */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 8vh;
  text-transform: uppercase;

  margin: 2vh 0;
}

/*** Sort Filters ***/
main #portfolio .sort-filters {  /* list of filters */
  display: flex;
  align-items: center;
  margin: 4vh 0;
}
main #portfolio .sort-filters li {  /* each filter item */
  margin: 2vh 2vh;
}
main #portfolio .sort-filters li a {  /* each filter item link */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #333;
  background: #E3E3E3;
  padding: 0.5vh 2vh;

  transition: all 0.4s ease-in-out;
}

main #portfolio .sort-filters li a.active,
main #portfolio .sort-filters li a:hover {  /* active filter & on-hover */
  color: #444;
  background: #CCC;
}

/*** Projects Grid ***/
main #portfolio .project-grid {  /* project grid container (grid) */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
main #portfolio .project-grid li a {  /* each item in the grid */
  display: flex;
  flex-direction: column;
  position: relative;

  color: #FFF;
  border-color: #FFF;

  transition: all 0.2s ease-in-out;
}

main #portfolio .project-grid li a img {  /* project preview image */
  width: 25vw;
}

main #portfolio .project-grid li a span {  /* text overlay (shaded container) */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Shade the image with an 80% opacity black color (mostly shaded) */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
  /* Cover the entire container (the whole image) */
  width: 100%;
  height: 100%;

  transition: all 0.3s ease-in-out;
}
main #portfolio .project-grid li a span h4 {  /* grid item title (overlay) */
  /* Center title text */
  display: flex;
  justify-content: center;
  /* Set width (making a FIXED "separator" line) */
  width: 85%;

  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid;
  border-color: inherit;

  padding: 0 0 8px 0;
  margin: 0 0 4px 0;
}
main #portfolio .project-grid li a span p {  /* item description (overlay) */
  max-width: 80%;

  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

/* INTERACTIVE EFFECTS */
main #portfolio .project-grid li a:hover {  /* hide text on-hover */
  color: transparent;
}
main #portfolio .project-grid li a:hover span {  /* reveal image (un-shade) */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
}



/*************** Footer ***************/

footer {  /* container */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F1F1F;
  padding: 4em 0 2em 0;
}
footer h2 {  /* title */
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
footer h6 {  /* subtitle */
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  padding: 1em 0;
}
footer h6 a {  /* subtitle link */
  color: var(--color-blue);

  transition: all 0.2s ease-in-out;
}
footer h6 a:hover {  /* subtitle link (on-hover) */
  color: rgba(10, 150, 225, 0.8);
  text-decoration: underline;
}
footer p {  /* copyright message */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: white;
  padding: 2em 0 1em 0;
}

/*** Social Media Links ***/
footer .social {  /* container */
  display: flex;
}
footer .social a {  /* link */
  margin: 0 4px;
}
footer .social a div {  /* square */
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #2F2F2F;
  width: 65px;
  height: 65px;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.8);

  transition: all 0.3s ease-in-out;
}
footer .social a div i {  /* set icon size */
  font-size: 36px;
}

/* INTERACTIVE EFFECTS */
footer .social a:hover div {  /* change square color on-hover */
  background-color: var(--color-blue);
}
