/*************** Fonts ***************/
/*
  Source Sans Pro (Light 300; Regular 400; Semi-Bold 600; Bold 700)
  Raleway (Regular 400; Black 900)
  Montserrat (Regular 400)
  Lato (Regular 400)
*/


/************* Variables *************/
:root {
  --color-white: #EEEEEE;
  --color-palewhite: rgb(220, 220, 230);
  --color-darkblue: rgb(1, 28, 57);
  --color-blue: rgb(10, 150, 225);
}


/********** Defaults & Reset **********/

* {  /* Global Reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {  /* Set default font & smooth scrolling */
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

body {  /* Set default background color */
  background: var(--color-white);
}

li {  /* Dsiable list style */
  list-style: none;
}

a {  /* Disable link decoration */
  text-decoration: none;
}



/********** Navigation Menu **********/

nav {  /* Menu Bar BG (Container) */
  position: sticky;
  z-index: 100;  /* keep above everything */
  top: 0;
  width: 100%;
  height: 10vh;

  background: linear-gradient(#292929, #262626);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
}
.nav {  /* Menu Bar */
  height: 100%;
  max-width: 98%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}


/*** Logo ***/
nav .logo {  /* container */
  display: flex;
  align-items: center;
}
nav .logo img {  /* "J" logo */
  height: 50px;
  margin: 0 10px 0 0;
  filter: invert(95%);  /* turn black image to white */
}
nav .logo span {  /* vertical separator */
  padding: 0 8px;
  border-left: 2px solid var(--color-white);
  height: 44px;
}
nav .logo p {  /* name text */
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-white);
}


/*** Navigation ***/
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {  /* each nav item */
  padding: 0 20px;
}
nav ul li a {  /* each nav item link */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;

  color: var(--color-white);
  transition: color 0.3s ease;
}
nav ul li a:hover {  /* on-hover */
  color: var(--color-blue);
}

/*** 'Contact' Button (Separate) ***/
nav a.button {  /* button styles */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;

  color: var(--color-white);
  background: rgb(10, 110, 225);
  border-radius: 15px;
  padding: 5px 12px;

  transition: background 0.3s ease;
}
nav a.button:hover {  /* on-hover */
  background: rgb(10, 90, 210);
}



/*********** Header Banner ***********/

header {  /* container */
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  background: linear-gradient(rgba(0, 0, 0, 0.75),
                              rgba(20, 20, 20, 0.6)),
              url('../images/header-bg.jpg')
              no-repeat fixed center top transparent;

  transition: height 0.6s ease-in-out 0.1s;
}
header h1 {  /* title (at the top) */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--color-palewhite);
  margin: 6vh 0 0 0;

  transition: font-size 0.15s ease-in-out;
}
header p {  /* subtitle (at the bottom) */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--color-palewhite);

  transition: font-size 0.4s ease-in-out 0.2s;
}
header img {  /* circular image (in the middle) */
  margin: 3vh 0 4vh 0;
  height: 35vh;
  border: 1px solid var(--color-darkblue);
  border-radius: 200px;

  transition: height 0.4s ease-in-out 0.1s;
}

header a {  /* arrow (bottom) */
  margin: 6vh 0 0 0;
  color: var(--color-palewhite);

  transition: all 0.5s;
}
header a:hover {  /* arrow on-hover */
  color: white;
}
header a .fa-angle-down {  /* arrow size */
  font-size: 8vh;
}
